<div class="background"></div>
<div
  class="container"
  [style.left.px]="getOffsetLeft()"
  [style.top.px]="getOffsetLeft()"
>
  <textarea
    class="text"
    rows="10"
    [(ngModel)]="text"
    [style.height.px]="getTextAreaHeight()"
    #textAreaEdit
    *ngIf="!inControlMode"
    spellcheck="false"
  ></textarea>
  <textarea
    class="text"
    rows="10"
    [style.height.px]="getTextAreaHeight()"
    readOnly
    *ngIf="inControlMode"
    spellcheck="false"
    >{{ getTextInControlMode() }}</textarea
  >
  <input
    spellcheck="false"
    class="control"
    type="text"
    [(ngModel)]="control"
    [readOnly]="!inControlMode"
    #controlInput
  />
</div>
