.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  input{
    margin-left: 10px;
    width: 60%;
    font-family: "Cascadia Code", sans-serif;
    color: var(--color);
    background-color: transparent;
    border: none;
    font-size: 16px;
    &:focus{
      outline: none;
    }
  }
}

