<div
  class="container"
  [style.margin-top.px]="getOffsetTop()"
  [style.margin-left.px]="getOffsetLeft()"
>
  <app-history></app-history>
  <app-input-line
    class="inputLine"
    (lineExecuted)="onLineExecuted()"
  ></app-input-line>
</div>
<div class="background" (click)="backgroundClick()"></div>
<app-vi [file]="getFile()" *ngIf="getFile() != undefined"></app-vi>
<div #target id="eID"></div>
<app-header *ngIf="getShowHeader()"></app-header>
<div class="by">
  by <a href="https://philipp-bonin.com/" target="_blank">Philipp B.</a>
</div>
